@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-font {
    font-family: "Lato", serif;
    font-style: normal;
}
body{
    margin: 0;
}

/* shared styles */
.title{
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}
.para{
    font-size: 15px;
    color: rgba(39, 39, 39, 0.6);
}
.primary-btn{
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.primary-btn:hover{
    background-color: rgb(15, 144, 237);
    cursor: pointer;
    transition: background-color 2s;
}



/* banner styles */
.banner{
    background-color: rgba(229, 84, 115, 0.1);
}
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 50px  100px;
}

.banner-image img{
    width: 300px;
    height: 400px;
}
.banner-content{
    width: 50%;
}
.banner .primary-btn{
    margin-top: 10px;
}

/* media Query */

/* media for banner */
@media screen and (max-width:680px) {
    .banner-container{
        padding: 30px  30px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-image img{
        display: none;
    }
    .banner{
        background-image: url("../Flower Asset/pngwing 10.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .para{
        font-size: 15px;
        color: rgba(10, 10, 10, 0.6);
    }
}
@media screen and (min-width:681px) and (max-width:1024px) {
    .banner-container{
        padding: 20px  20px;
    }
    .title{
        font-size: 35px;
    }
    .para{
        font-size: 12px;
    }
}

